body {
    background-color: #eeeeee;
}
.container-fluid:first-of-type {
    background-color: #202020;
}
.container-fluid:nth-of-type(2) {
    background-color: #ff7100;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid #202020;
}
#map {
    height: 550px;
    width: 100%;
    border: 2px solid #202020;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-fluid:first-of-type .row {
    height: 100px;
}
.container h1:first-of-type {
    color: #ff7100;
    font-size: 22px;
}
.container h6 {
    color: #ff7100;
    padding: 10px;
}
#address {
    border-radius: 10px 0 0 10px;
    text-align: center;
    border: 2px solid black;
    border-right: none;
    color: #a9a9a9;
}
#address:focus{
    outline: none;
    color: #202020;
    text-transform: uppercase;
}
#submit {
    border-radius: 0 10px 10px 0;
    border-left: none;
    font-weight: 700;
    cursor: pointer;
}
#submit:focus {
    outline: none;
}
#go-to-form {
    cursor: pointer;
    border: 2px solid;
}
#go-to-form:hover {
    background-color: #ff7100;
}
#go-to-form:focus {
    outline: none;
}
.footer {
    background-color: #202020;
    border-top: 2px #ff7100 solid;
}
.footer .col-12 {
    margin-top: 10px;
    margin-bottom: 10px;
}
img {
    width: 90%;
    height: 130px;
    border: 2px #ff7100 solid;
    border-radius: 10px;
    float: right;
}